@import url("../css/global.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #61ae33;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 20px 10px;
  text-align: center;
  height: 100%;
}

.content {
  height: calc(100vh - 15vh);
  display: flex;
}

main{
  width: 100%;
  padding: 10px;
}

header{
  font-size: 20px;
}

.headers {
  padding-block: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

nav {
  justify-self: end;
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
}

nav .profile {
  background: #61ae33;
  color: whitesmoke;
  padding: 10px 20px;
  border-radius: 20px;
}

.top .profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top .profile i {
  font-size: 24px;
  color: white;
  margin-right: auto;
}

.close {
  display: none;
}

aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 150px 20px 40px;
  background: white;
  width: 100%;
  height: 100vh;
  box-shadow: 19px 6px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

aside div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

aside button {
  padding: 10px 20px;
  border-radius: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: start;
  gap: 10px;
  color: #61ae33;
  i {
    font-size: 30px;
  }
}

aside button:hover,
.active {
  background: #f2f5f4;
}

#close {
  padding: 0;
  width: fit-content;
  position: absolute;
  top: 50px;
  right: 10px;
  color: black;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  :hover {
    color: #61ae33;
  }
  i {
    font-size: 50px;
  }
}

.notifications-container{
  position: relative;
}

.notification-bar{
  position: absolute;
  top: 60px;
  right: 0;
  border: 2px solid #61ae33;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.notification-title{
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #61ae33;
  color: whitesmoke;
}


h1 {
  font-size: 30px;
  margin-top: 10px;
}

.logo {
  position: sticky;
  top: 0;
  z-index: 1;
  display: inline-block;
  width: 100px;
}
.btn {
  padding-top: 40px; /* Ajusta según sea necesario */
}

.logo > img {
  position: sticky;
  width: 100%;
  object-fit: cover;
}

.notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: whitesmoke;
  font-size: 40px;
  border-radius: 100%;
  background: #61ae33;
  padding: 5px;
}

aside.close {
  transform: translateX(-100%); /* Mueve el menú fuera de la pantalla */
}

#dashboard {
  padding-top: 30px;
  height: 60vh;
  overflow: auto;
}

@media (min-width: 640px) {
  #dashboard {
    height: 100vh;
  }
  .headers{
    justify-content: space-between;
    padding-inline: 50px;
  }

  h1 {
    font-size: 35px;
  }

  h1 {
    font-size: 40px;
  }

  aside {
    width: 50%;
  }

  aside button {
    font-size: 15px;
  }

  aside button {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  #dashboard {
    height: 90%;
  }

  .container {
    margin: 0;
  }

  .headers {
    height: 15vh;
    padding: 10px 50px;
  }

  aside {
    position: relative;
    width: 300px;
    height: 100%;
    box-shadow: none;
    padding: 30px;
    border-right: 2px solid #082517;
    gap: 100px;
    div {
      gap: 50px;
    }

    button i {
      font-size: 40px;
    }
  }

  #close {
    display: none;
  }
  
  aside {
    position: relative;
    width: 300px;
    height: 100%;
    box-shadow: none;
    padding: 30px;
    border-right: 2px solid #b6c1bc;
    gap: 100px;
    div {
      gap: 50px;
    }

    .content {
      display: flex;
      gap: 30px;
      height: 80vh;
    }

    main {
      width: 100%;
      height: 100%;
      padding-right: 30px;
    }

    .logo {
      margin-bottom: 0;
    }

    .notifications {
      width: 70px;
      height: 70px;
      font-size: 50px;
    }
  }
}
